@import "tailwindcss";

/* RESET GLOBAL */
* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
  overflow-x: hidden;
  background-color: #030712;
  color: white;
  font-family: 'Inter', sans-serif;
}

/* Angular root */
app-root {
  display: block;
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

/* Titres */
h1,
h2 {
  letter-spacing: 0.02em;
}

/* Hide scrollbar */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Clamp text */
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Images responsive */
img {
  max-width: 100%;
  display: block;
}

/* Buttons */
button {
  cursor: pointer;
}

/* Prevent horizontal overflow */
section,
div {
  max-width: 100%;
}